.form {
  width: 100%;
  height: auto;
  display: flex;

  background-color: #ff000044;
  margin-top: 30px;
}

.inputsArea {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: #ff0000;
}
