.home-page {
  display: flex;
  flex-grow: 1;
  padding: 49px 0 0 82px;
  /* background-color: black; */
}

.home-page--page-content {
  display: flex;
  flex-direction: column;
  width: 1500px;
  /* background-color: yellowgreen; */
}

.home-page--current-path {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--disabled);
  text-align: left;
  font: normal normal normal 14px/20px Inter;
  letter-spacing: 0px;
  color: #979797;
  opacity: 1;
}

.home-page--current-path span {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  font: normal normal bold 14px/20px Inter;
  letter-spacing: 0px;
  opacity: 1;
}

.home-page--small-title {
  margin-top: 30px;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-space-mono);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--secondary);
  text-align: left;
  /* font: normal normal normal 14px/20px Space Mono;
letter-spacing: 0px;
color: #666666; */
  opacity: 1;
}

.home-page--title {
  margin-top: 16px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-26)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  /* font: normal normal bold 20px/26px Inter;
letter-spacing: 0px;
color: #262626; */
  opacity: 1;
}

.home-page--title-statement {
  margin-top: 16px;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  /* font: normal normal normal 14px/20px Inter;
letter-spacing: 0px;
color: #262626; */
  opacity: 1;
}

@media screen and (max-width: 1918px) {
  .home-page {
    padding-left: 55px;
  }
  .home-page--page-content {
    width: clamp(1100px, 400px + 50vw, 1500px);
  }
}

@media screen and (max-width: 1536px) {
  .home-page .home-page--page-content {
    width: clamp(900px, 400px + 40vw, 1100px);
  }
}

@media screen and (max-width: 1280px) {
  .home-page {
    padding: 30px 0 0 40px;
  }
  .home-page--page-content {
    width: clamp(750px, 400px + 30vw, 1100px);
  }
  .home-page--small-title {
    margin-top: 20px;
  }
  .home-page--title {
    font-size: var(--unnamed-font-size-16);
  }
  .home-page--title-statement {
    font-size: var(--unnamed-font-size-12);
  }
}

@media screen and (max-width: 1024px) {
  .home-page--page-content {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
