.navigationTab {
  width: 211px;
  height: 45px;
  display: flex;
  align-items: center;
}

.tabIcon {
  margin-left: 9px;
}

.home-icon {
  margin-left: 6px;
}

.micro-functions-icon {
  margin-left: 11px;
}

.gateway-icon {
  width: 18px;
  height: 18px;
}

.file-storage-icon {
  margin-left: 11px;
}

.application-manager-icon {
  margin-left: 11px;
}

.tabName {
  margin-left: 15px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  font: normal normal normal 14px/20px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
