.navigation {
  width: 271px;
  height: calc(var(--app-height) - 104px);

  background: var(---f9f9f9-grey50) 0% 0% no-repeat padding-box;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  opacity: 1;

  z-index: 50;
}

.allServices {
  margin-top: 45px;
}

.allServices p,
.categories p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  font: normal normal bold 14px/20px Inter;
  letter-spacing: 0px;
  opacity: 1;
  display: inline;
  margin-left: 30px;
}

.categories {
  margin-top: 29px;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}
