.navigation {
}

.navigation--move-buttons {
  position: absolute;
  width: 100%;
  height: 40px;
  display: none;
  place-content: center;
  cursor: pointer;
}

.navigation--up-button {
  top: 0;
}

.navigation--down-button {
  bottom: 0;
}

.navigation--allServices {
  margin-top: 45px;
}

.navigation p:first-child {
}

.navigation--categories {
  margin-top: 29px;
}

.navigation--tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

@media screen and (max-width: 1918px) {
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1280px) {
  .navigation--move-buttons {
    display: grid;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
