.text-input {
  width: 420px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 16px 0;
}

.text-input--label {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  /* font: normal normal bold 14px/20px Inter;
letter-spacing: 0px;
color: #262626; */
  opacity: 1;
}

.text-input--text {
  height: 41px;
  padding: 12px;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-262626);
  text-align: left;
  /* font: normal normal normal 14px/20px Inter;
letter-spacing: 0px;
color: #262626; */
  opacity: 1;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.text-input--text::placeholder {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-20) var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--disabled);
  text-align: left;
  /* font: normal normal normal 14px/20px Inter;
letter-spacing: 0px;
color: #979797; */
  opacity: 1;
}

@media screen and (max-width: 1918px) {
  .text-input {
    width: clamp(350px, 200px + 10vw, 420px);
  }
}

@media screen and (max-width: 1536px) {
  .text-input {
    width: 290px;
    height: 70px;
    margin: 0 10px 20px 0;
  }
}

@media screen and (max-width: 1280px) {
  .text-input {
    height: 55px;
    margin: 0 10px 20px 0;
    width: clamp(270px, 28%, 290px);
  }
  .text-input--label {
    margin-bottom: 5px;
  }
  .text-input--text {
    height: 35px;
  }
}

@media screen and (max-width: 1024px) {
  .text-input {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .text-input {
    width: 90%;
    margin-right: 0;
  }
}
