.app {
  width: 100%;
  height: var(--app-height);
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

.wrapper-without-header {
  width: 100%;
  height: calc(var(--app-height) - 104px);
  display: flex;
}

.disable {
  display: none;
}

@media screen and (max-width: 1918px) {
  .app {
    min-height: 100vh;
  }
  .wrapper {
    min-height: 100vh;
  }
  .wrapper-without-header {
    height: 90vh;
  }
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
